:root {
  /* Font settings */
  font-family: Roboto, regular;
  line-height: 1.5;
  font-weight: 400;

  /* Color settings */
  color-scheme: dark;
  --main-blue: #2e3859;
  --background: #fff7ef;

  color: var(--main-blue);
  background-color: var(--background);

  /* Render settings */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Frequent styles */
  --border: 1px solid #2e3859;
  --checkmark-size: 20px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  /* Background things */
  background-color: #fff7ef;
  background-image: url("/invite_top_left.svg"), url("/invite_top_right.svg");
  background-size: 80vw;
  background-repeat: no-repeat;
  background-color: #fff7ef;
  background-position-x: 0%, 100%;
  background-position-y: 10rem;
  background-attachment: fixed;
  overflow: hidden;
}

h2 {
  margin: 0 0 0.5rem 0;
  color: var(--main-blue);
  pointer-events: none;
}

h3 {
  margin: 1rem 0 0 0;
  color: var(--main-blue);
  pointer-events: none;
  text-align: start;
}

b {
  color: var(--main-blue);
  pointer-events: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    box-shadow: inset 0 0 8px 100px rgb(255 247 239 / 67%);
    background-size: auto;
  }
}
